{% import "bootstrap/wtf.html" as wtf %}
<!-- {% extends "base.html" %} -->
{% block title %}Trang đăng nhập{% endblock %}


{% block content %}
<div class="container-home">
  <div class="block-home show-alert">
    <div class="progress-spinner">
      <div class="spinner-border spinner-color" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="block-wallet-function">
      <img class="logo" src="{{ url_for('static', filename='img/favicon.ico') }}" alt="Logo" width="70" />
      <div class="function" id="home" href="/">
        <i class="icon bi bi-house"></i>
        <span class="mt-1">Home</span>
      </div>
      <div class="function" id="history" href="/history">
        <i class="icon bi bi-clock-history"></i>
        <span class="mt-1">History</span>
      </div>
      <div class="function" id="account" href="/account">
        <i class="icon bi bi-person"></i>
        <span class="mt-1">Account</span>
      </div>
      <i
        class="logout bi bi-box-arrow-right"
        onClick="window.location='/logout'"
      ></i>
    </div>
    <div class="block-wallet-content">
      <div class="user-bar mb-4">
        <div class="user-container">
          <div class="input-group">
            <input
              type="text"
              class="search-input form-control"
              placeholder="Search"
            />
          </div>
          <div class="user-block">
            <div class="user-avatar">
              <img src="{{ url_for('static', filename='img/avatar.png') }}" alt="Avatar" width="50" />
            </div>
            <div class="user-info">
              <div class="user-name">
                {{ current_user.userName }}
              </div>
            </div>
          </div>
        </div>
      </div>



     
          <div class="block-wallet-content">
            <div class="wallet-content d-block w-100">
              <div class="wallet">
                <div style="flex: 1">
                  <div class="history d-flex flex-column h-100">
                    <div class="history-header d-flex text-center">
                      <div class="col-2">Mã số</div>
                      <div class="col-2">Họ tên</div>
                      <div class="col-2">Điện thoại</div>
                      <div class="col-4">Email</div>
                      <div class="col-2">Tiền</div>
                    </div>
                    <div class="h-rule-bottom"></div>
                    <div class="history-data d-flex text-center py-2">
                        <div class="col-2 id">51900698</div>
                        <div class="col-2 name">Le Tuan Anh</div>
                        <div class="col-2 phone">0398547674</div>
                        <div class="col-4 email">email@gmai.com</div>
                        <div class="col-2 money">100000</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
      </div>
      <button
        class="d-none"
        id="history-detail"
        data-bs-toggle="modal"
        data-bs-target="#history-detail-modal"
      ></button>
      <!-- history-detail modal -->
      <div
        class="modal fade"
        id="history-detail-modal"
        tabindex="-1"
        aria-labelledby="history-detail-modal-label"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="history-detail-modal-label">
                Chi tiết giao dịch
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body history-detail-data"></div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-success" type="submit" data-bs-dismiss="modal">
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  </div>


  
</div>
{% endblock %}