{% import "bootstrap/wtf.html" as wtf %}
<!-- {% extends "base.html" %} -->
{% block title %}Trang đăng nhập{% endblock %}


{% block content %}
    <div class="container-home">
        <div class="block-home show-alert">
            <div class="progress-spinner">
                <div class="spinner-border spinner-color" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="block-wallet-function">
                <img class="logo" src="{{ url_for('static', filename='img/favicon.ico') }}" alt="Logo" width="70"/>
                <div class="function" id="home" href="/">
                    <a class="icon bi bi-house" href="{{ url_for('main.index') }}"></a>
                    <span class="mt-1">Home</span>
                </div>


                <a class="logout bi bi-box-arrow-right" href="{{ url_for('main.login') }}"></a>
            </div>
            <div class="block-wallet-content">
                <div class="user-bar mb-4">
                    <div class="user-container">
                        <div class="user-block">
                            <div class="user-avatar">
                                <img src="{{ url_for('static', filename='img/avatar.png') }}" alt="Avatar" width="50"/>
                            </div>
                            <div class="user-info">
                                <div class="user-name">
                                    {{ current_user.userName }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="block-wallet-content">
                    <div class="wallet-content d-block w-100">
                        <div class="wallet">
                            <div style="flex: 1">
                                <div class="history d-flex flex-column h-100">
                                    <div class="history-header d-flex text-center">
                                        <div class="col-4">Mã số</div>
                                        <div class="col-4">Họ tên</div>
                                        <div class="col-4">Số tiền học phí còn nợ</div>

                                    </div>
                                    <div class="h-rule-bottom"></div>

                                    {% for schoolfee in schoolFees %}
                                        <div class="history-data d-flex text-center">
                                            <div class="col-4 id">{{ schoolfee.mssv }}</div>
                                            <div class="col-4 name">{{ schoolfee.hoTen }}</div>
                                            <div class="col-4">{{ schoolfee.soTien }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}