{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
{% endblock %}

{% block content %}
    <div class="block-login show-alert">
        <div class="progress-spinner">
            <div class="spinner-border spinner-color" role="status">
            </div>
        </div>
        <div class="container-login">
            <div class="wrap-login">
                <div class="login-pic">
                    <img class="login-logo" src="{{ url_for('static', filename='img/favicon.ico') }}" alt="IMG"/>
                </div>
                <form class="login-form validate-form" id="form-login" method="post" enctype="multipart/form-data">
                    <span class="login-form-title"> DELTA LOGIN </span>
                    <div class="wrap-input validate-input" data-validate="Username required">

                        {{ form.hidden_tag() }}
                        {{ form.userName(class_="input form-control") }}
                        <span class="symbol-input">
            <i class="fas fa-user" aria-hidden="true"></i>
          </span>
                    </div>
                    <div class="wrap-input validate-input" data-validate="Password required">

                        {{ form.password(class_="input form-control") }}
                        <span class="symbol-input">
                    <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
                    </div>
                    <div class="container-login-form-btn">
                        {{ form.submit(class_="login-form-btn btn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}